---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import { getAllMeditations } from "../api/baserow/meditations";
import { getAllCreators } from "../api/baserow/creators";

const allMeditations = await getAllMeditations();
const allCreators = await getAllCreators();

const cssGradients = [
  "bg-gradient-to-r from-blue-100 to-green-200 text-blue-800",
  "bg-gradient-to-l from-yellow-100 via-red-200 to-pink-200 text-yellow-800",
  "bg-gradient-to-br from-purple-200 via-pink-200 to-red-100 text-purple-800",
  "bg-gradient-to-t from-green-100 via-blue-200 to-indigo-200 text-green-800",
  "bg-gradient-to-b from-yellow-50 via-orange-100 to-red-200 text-yellow-900",
  "bg-gradient-to-tr from-pink-100 via-purple-200 to-indigo-300 text-pink-800",
  "bg-gradient-to-bl from-blue-100 via-purple-200 to-pink-100 text-blue-800",
  "bg-gradient-to-r from-yellow-50 via-green-100 to-teal-200 text-yellow-900",
  "bg-gradient-to-l from-red-100 via-yellow-50 to-green-100 text-red-800",
  "bg-gradient-to-t from-indigo-100 via-blue-200 to-cyan-300 text-indigo-800",
  "bg-gradient-to-b from-gray-50 via-gray-100 to-gray-200 text-gray-800",
  "bg-gradient-to-tr from-red-100 via-yellow-50 to-green-100 text-red-800",
  "bg-gradient-to-bl from-teal-100 via-blue-200 to-indigo-300 text-teal-800",
  "bg-gradient-to-r from-pink-50 via-purple-100 to-indigo-200 text-pink-800",
  "bg-gradient-to-l from-green-50 via-teal-100 to-blue-200 text-green-800",
];
---

<Layout className="bg-white" title="Astwoah Stack">
  <main
    id="main"
    class="container p-6 outline-none"
    x-data={`{
      pickRandomMeditation() {
        const numberOfMeditations = $refs.meditationsList.children.length;
        const randomIndex = Math.floor(Math.random() * numberOfMeditations);

        $refs.meditationsList.children[randomIndex].querySelector('a').click();
      }
    }`}
  >
    <div class="flex flex-col gap-2 sticky top-0 py-2 bg-white z-20">
      <Logo />
    </div>
    <p class="balanced max-w-[65ch] m-0 py-2">
      Meditations in the Way of Jesus
    </p>

    <button
      class="btn btn-secondary rounded-full mt-6 flex gap-2 items-center"
      x-on:click="pickRandomMeditation()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width={16}
        height={16}
        viewBox="0 0 1024 1024"
      >
        <path
          fill="currentColor"
          d="M766 501q-25 27-62-13V322q-123 10-197 52q-15-61-70-110q112-72 267-73V23q37-39 62-12l243 207q15 16 15 38t-15 38zm-318 75q0 46 72.5 81T704 701V535q37-39 62-12l243 207q15 16 15 38t-15 38l-243 207q-25 27-62-13V832q-104 0-192.5-34.5t-140-93.5T320 576V448q0-47-72.5-82T64 322v-2q-26 0-45-19T0 255.5T19 210t45-19q104 0 192.5 34.5t140 93.5T448 448v128zM64 704v-3q123-10 197-52q15 60 70 110q-112 73-267 73q-26 0-45-19T0 767.5t19-45T64 704z"
        ></path>
      </svg>
      Pick a Random Meditation</button
    >

    <ul
      class="list-none grid max-sm:grid-cols-1 grid-cols-2 gap-4 m-0 pl-0 mt-6"
      x-ref="meditationsList"
    >
      {
        allMeditations.results.map((result) => {
          const creator = allCreators.results.find(
            (creator) => creator.id === result.Creator[0].id,
          );

          // Get randomBgColor but based on the result's id so that it's the same every time.
          const randomBgColor = cssGradients[result.id % cssGradients.length];

          return (
            <li>
              <a
                class={`relative h-full w-full p-6 cursor-pointer flex flex-col gap-4 transition active:scale-95 duration-300 aspect-video bg-red-100 rounded-2xl items-center justify-center no-underline ${randomBgColor}`}
                href={`/meditation?id=${result.id}`}
              >
                <p class="balanced m-0 text-3xl lg:text-5xl text-center font-semibold line-clamp-2">
                  {result.Title}
                </p>
                <div class="badge glass absolute bottom-2 right-2">{result.Duration.value}</div>
                <div class="flex gap-2 items-center">
                  <img
                    class="m-0 w-8 h-8 rounded-full shadow-sm bg-cover object-cover"
                    src={creator?.Avatar[0].url || ""}
                    alt={creator?.Name}
                  />
                  <p class="m-0 text-lg">{creator?.Name}</p>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>

    <Footer />
  </main>
</Layout>
