---
interface Props {
  id: string | number;
  title: string;
  duration: number | string;
  creatorName?: string | number;
  creatorAvatarUrl?: string;
}

import { cssGradients } from '../utils/constants';

const { id, title, duration, creatorName, creatorAvatarUrl } = Astro.props;

// Get randomBgColor but based on the result's id so that it's the same every time.
const randomBgColor = cssGradients[Number(id || 0) % cssGradients.length];
---

<li class="p-0 m-0">
  <a
    class={`relative h-full w-full p-6 cursor-pointer flex flex-col gap-4 transition active:scale-95 duration-300 aspect-video bg-red-100 rounded-2xl items-center justify-center no-underline ${randomBgColor}`}
    href={`/meditation/${id}`}
  >
    <p
      class="balanced m-0 text-3xl lg:text-4xl text-center font-semibold line-clamp-2"
    >
      {title}
    </p>
    <div class="badge glass absolute bottom-2 right-2">
      {duration}
    </div>
    {
      creatorName && creatorAvatarUrl ? (
        <div class="flex gap-2 items-center">
          <img
            class="m-0 w-8 h-8 rounded-full shadow-sm bg-cover object-cover"
            src={creatorAvatarUrl || ""}
            alt={creatorAvatarUrl}
          />
          <p class="m-0 text-lg">{creatorName}</p>
        </div>
      ) : null
    }
  </a>
</li>
