---
import "../global.css";

interface Props {
  title: string;
  description?: string;
  className?: string;
  ogImageUrl?: string;
}

const domainUrl = "https://soulrest.melos.church";
const { title, description, className, ogImageUrl = domainUrl + '/og-image.png' } = Astro.props;
const descriptionToUse = description || "Soul Rest " + title;
---

<!doctype html>
<html class="bg-white" lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>Soul Rest | Christian Meditations in the Way of Jesus</title>
    <meta
      name="description"
      content={descriptionToUse}
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={domainUrl} />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={descriptionToUse}
    />
    <meta property="og:image" content={ogImageUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={domainUrl} />
    <meta property="twitter:url" content={domainUrl} />
    <meta
      name="twitter:title"
      content={title}
    />
    <meta
      name="twitter:description"
      content={descriptionToUse}
    />
    <meta name="twitter:image" content={ogImageUrl} />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body class={"prose !max-w-[100vw] w-full " + className}>
    <slot />
  </body>
</html>
